<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204448318337-rqe1nb8dalhcrhqr5lu927udlcdmnrce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204448318337-rqe1nb8dalhcrhqr5lu927udlcdmnrce</string>
	<key>API_KEY</key>
	<string>AIzaSyAmc7LzT8UgCF3GXRdi4H6wphp4MGatOII</string>
	<key>GCM_SENDER_ID</key>
	<string>204448318337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tictactoeMp</string>
	<key>PROJECT_ID</key>
	<string>tic-tac-toe-xperience</string>
	<key>STORAGE_BUCKET</key>
	<string>tic-tac-toe-xperience.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204448318337:ios:e618840942915e98681e80</string>
</dict>
</plist>